@charset "UTF-8";
* { background: #fff; }
body { font-family: Helvetica, sans-serif; color: black; }
blockquote { font-style: italic; color: black; }
a:link, a:visited { border-bottom-width: 1px; border-bottom-style: solid; }
#sidebar { display: none; }
